.App {
  text-align: center;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom, #00c6ff 50%, #0072ff);
  background-repeat: no-repeat;
  font-family: "Redressed", cursive;
  user-select: none;
}
.bigHeader {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Redressed", cursive;
}
.in {
  outline: none;
  border: none;
  margin: 10px;
  border-radius: 10px;
  height: 30px;
  box-sizing: border-box;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  text-align: center;
}
.lbl {
  font-size: 1.5rem;
  font-family: "Redressed", cursive;
}
.fP-btn {
  background-color: #012e67;
  margin: 10px;
  margin-top: 40px;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #00c6ff;
  font-family: "Redressed", cursive;
  font-size: 1.5rem;
  box-shadow: 7px 7px 8px #007fa3, -7px -7px 8px #00ffff;
}
.calBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: #0072ff;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* align-items: center; */
}
@media only screen and (min-width: 761px) {
  .layout-align {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
  }
  #tesla-align {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 760px) {
  .layout-align {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 25px 0;
  }
  #tesla-align {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.75);
  }
}
/* Just for very small screen sizes */
@media only screen and (max-width: 355px) {
  .layout-align {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    transform: scale(0.8);
  }
  #tesla-align {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
  }
}
/* CSS for 1st Meter */

#score-meter-1 {
  width: 300px;
  height: 150px;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  overflow: hidden;
  position: relative;
}
#scorer-1-inner-div {
  position: absolute;
  left: 20%;
  top: 40%;
  width: 60%;
  height: 60%;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: #ffffff;
  z-index: 2;
}
#scorer-1-inner-div-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: #ffca3d;
  transform-origin: bottom center;
  transform: rotate(-130deg);
  z-index: 0;
}
#scorer-1-inner-div-3 {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: #0093d7;
  transform-origin: bottom center;
  transform: rotate(130deg);
  z-index: 0;
}
#scorer-1-inner-div-4 {
  position: absolute;
  left: 50px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 140px solid #a3cd3b;
  transform: rotate(180deg);
}
.scorer-1-tick {
  position: absolute;
  top: 40%;
  left: -250%;
  width: 300%;
  height: 5px;
  background-color: #000000;
  /* animation: 0.5s linear forwards; */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}
#scorer-1-inner-div-5 {
  position: absolute;
  left: 45%;
  top: 80%;
  width: 10%;
  height: 20%;
  border-radius: 50%;
  background-color: #000000;
  z-index: 2;
}
/* @keyframes ticker-mover-1 {
  0% {
    transform-origin: right center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: right center;
    transform: rotate(180deg);
  }
} */
